{{#unless hiddenOnFrontPage}}
<section class="wrapper spotlight {{sectionclass @index}}">
    <div class="inner">
        <a href="{{urlref link}}" title="{{title}}" target="_blank" rel="noopener noreferrer" class="noselect image">
            <img src="{{image}}" alt="{{title}}" />
        </a>
        <div class="content">
            <h2 class="font-weight-light">
                {{titleStart}}&nbsp;<span class="font-weight-heavy">{{titleEnd}}</span>
            </h2>
            <p>{{description}}</p>
            {{#each links}}
            <a href="{{urlref url}}" title="{{title}}" target="_blank" rel="noopener noreferrer"
                class="noselect store-icon">
                <img src="/assets/img/store/{{icon}}.png" alt="{{title}}" />
            </a>
            {{/each}}
        </div>
    </div>
</section>
{{/unless}}